# Snexi
SNEXI_URL=https://snexi.fr/portail
SNEXI_USERNAME=
SNEXI_PASSWORD=

# Constatimmo
CONSTATIMMO_URL=https://constatonline.constatimmo.com
CONSTATIMMO_USERNAME=
CONSTATIMMO_PASSWORD=
CONSTATIMMO_USER_DATA_DIR=./.browser/constatimmo
CONSTATIMMO_HEADLESS=true

# Google Calendar
GOOGLE_CALENDAR_ID=
GOOGLE_CREDENTIALS_PATH=./credentials.json
GOOGLE_CALENDAR_OS_ID=
GOOGLE_CALENDAR_ODM_ID=

# Feature flags
DRY_RUN=false
SNEXI_ENRICH_DETAILS=true
CONSTATIMMO_ENRICH_DETAILS=true
